/* Put your CSS here */
body {
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 2em;
    text-align: center;
}

* {
    padding:0;
    margin: 0;
}

canvas {
    background-image: url("/StoneFloorTexture.png");
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

button {
    padding: 2px;
    border-radius: 25px;
    border: none;
    background-color: rgb(27, 27, 27);
    color: white;
    position: fixed;
    bottom: 62px;
    left: 26px;
 }